{% extends 'store/base.html' %}

{% block title %} {{category.name}} {% endblock %}

{% block content %}
<h1>{{name}}</h1>
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item">
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-grow-1">
                <div class="my-3 py-3"><h2 class="display-5"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h2>
                    <a href="{% url 'product_edit' product.id %}" class="btn btn-sm btn-warning" >Редактировать</a>

        </div>
    </li>
    {% empty %}
    <p>Добавьте авто</p>
    {% endfor %}
</ul>
{% endblock %}